<h1>New order </h1>
Product <%= @order.product.name %>
<br>
Order Id: <%= @order.id %>
<br>
Quantity: <%= @order.quantity %>
<br>
Subtotal <%= @order.subtotal %>
<br>
Tax <%= @order.tax %>
<br>
Total <%= @order.total %>


