<h1> Edit Product </h1>
<%= form_tag "/products/#{@product.id}", method: :patch do%>

  <div class="form-group">
    Name: <input type="text"  name="name" class="form-group" value="<%= @product.name %>">
  </div>

  <div class="form-group">
    Price: <input type="text" class="form-group" name="price" value="<%= @product.price %>">
  </div>

  <div class="form-group">
    Size: <input type="text" class="form-group" name="size" value="<%= @product.size %>">
  </div>

  <div class="form-group">
    Image: <input type="text" class="form-group" name="image"  value="<%= @product.image %>">
  </div>

  <div class="form-group">
    Description: <input type="text" class="form-group" name="description">
  </div>

  <div class="checkbox">
    <input type="submit" class="btn btn-default" name="Edit Product" value="Update Product">
  </div>

<% end %> 