<h1> Gideon Online Selling</h1>
 <% if current_user && current_user.admin %>
<%= button_to "Edit", "/products/#{@product.id}/edit", method: :get %>
<%= button_to "Delete", "/products/#{@product.id}", method: :delete %>
<% end %>

<table class="table table-bordered">
  <tr>
    <th>  Name  </th>
    <th>  Price($)  </th>
    <th>  Size  </th>
    <th>  Supplier  </th>
    <th>  Description </th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= @product.size %></td>
    <td><%= @product.supplier.name %></td>
    <td><%= @product.description %></td>
    <% @product.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
      
    <% @product.images.each do |image| %>
      <img class="image" src="<%= image.url %>">
    <% end %>

    
  </tr>

</table>
<% if current_user && current_user.admin %>
  <%= form_tag "/carted_products", method: :post do%>
        <form> 
          <div class="form-group">
            Quantity: <input type="text" class="form-group" name="quantity">
          </div>
          <div class="form-group">
            <input type="hidden" class="form-group" name="product_id" value="<%= @product.id %>">
          </div>
          <div class="checkbox">
            <input type="submit" class="btn btn-default" value="Add to Cart">
          </div>
        </form>
  <% end %>
<% end %>

