<h1> Gideon Online Selling</h1>

<table class="table table-bordered">
  <tr>
    <th>  Name  </th>
    <th>  Price($)  </th>
    <th>  Size  </th>
    <th>  Supplier  </th>
    <th>  Description </th>
    <th>  Image  </th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= @product.size %></td>
    <td><%= @product.supplier.name %></td>
    <td><%= @product.description %></td>

    <div class="carousel-item">
      <% @product.images.each do |image| %>
        <img src="<%= image.url %>">      
      <% end %>
    </div>
  </tr>

</table>

<%= button_to "Edit", "/products/#{@product.id}/edit", method: :get %>
<%= button_to "Delete", "/products/#{@product.id}", method: :delete %>