<h1> Gideon Online Selling</h1>

<table class="table table-bordered">
  <tr>
    <th>  Name  </th>
    <th>  Price($)  </th>
    <th>  Size  </th>
    <th>  Image  </th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.price %></td>
    <td><%= @product.size %></td>
    <td><img src="<%= @product.image %>"></td>
    
  </tr>

</table>

<%= button_to "Edit", "/products/#{@product.id}/edit", method: :get %>
<%= button_to "Delete", "/products/#{@product.id}", method: :delete %>